/* Edit Profile Button */
.edit-button {
    margin-top: 1rem;
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #bb8b6f;
    color: white;
    transition: 0.3s;
  }
  
  .edit-button:hover {
    background-color: #9b5c3d;
    transform: scale(1.05);
  }
  
  /* Edit Profile Container */
  .edit-profile-container {
    margin-top: 1rem;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 2rem auto;
    text-align: left;
  }
  
  .input-group {
    margin-bottom: 1rem;
  }
  
  .input-group label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .save-button {
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #a0d995;
    color: white;
  }
  
  .save-button:hover {
    background-color: #8cc978;
    transform: scale(1.05);
  }
  .avatar-selection-container {
    display: flex;
    gap: 10px;
    margin: 15px 0;
    justify-content: center;
  }
  
  .avatar-option {
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s ease;
    width: 80px;
    height: 80px;
  }
  .avatar-option:hover {
    border: 2px solid #555;
  }  
